*.box
*.iml
*.pid
*.rdb
*.swp
.#*
.DS_Store
.bundle
.bundle-*/
.foreman
.projectile
.sublime-*
.idea
.pomo
.sass-cache/
.tags
.vagrant/
.yardoc
/asset_version_index
/bin/*
!/bin/bundle
!/bin/bundler
!/bin/cap
!/bin/compass
!/bin/foreman
!/bin/pry
!/bin/rails
!/bin/rake
!/bin/resque
!/bin/resque-pool
!/bin/resque-web
!/bin/update
!/bin/setup
!/bin/ci_build.sh
!/bin/ci_simplecov.sh
!/bin/ci_docker_rake.sh
!/bin/ci_deploy
!/bin/ci_deploy_in_container
!/bin/test_common.sh
!/bin/test_run.sh
!/bin/test_parallel.sh
!/bin/spring
!/bin/testunit
!/bin/unicorn
!/bin/unicorn_rails
/config/nginx.conf
/console
/coverage/
/doc
/lib/track/bin
/log/*
/node_modules/*
/public/cache/*
/public/campaigns_images
/public/entry_photo_images
/public/fan_shot_images
/public/profile_images
/public/favicon.ico
/public/javascripts/vendor/tiny_mce_3_0_7/plugins/sbnwidget
/public/node_modules
/public/presto
/public/profiling
/public/stylesheets/*
/public/stylesheets/**/*.css
/public/uploads
/**/npm-debug.log
/rake-10.0.3
/script/debug_server.rb
/tags
/tmp/*
/vagrant/dotfiles/.*
!/vagrant/dotfiles/.*.example
gc_tuner.csv
public/v/eater/scripts/package.json
public/v/eater/scripts/npm-debug.log
app_unison/frontend/docs
/out
/rubocop_cache
.pryrc
.byebug_history
*.hprof
chorus_manifest.json
vendor/bundle
.vscode
