<div class="card">
  <header class="card-header">
    <p class="card-header-title">
      Ranking: Top Mario
    </p>
  </header>
  <div class="card-content">
    <div class="content">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec iaculis mauris.
      <a>@bulmaio</a>. <a>#css</a> <a>#responsive</a>
    </div>
  </div>
  <footer class="card-footer">
    <a class="card-footer-item">View</a>
    <a class="card-footer-item">Edit</a>
  </footer>
</div>
